@{
    ViewBag.Title = "Contacto";
    ViewBag.Message = "Juan Blanco";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Cel:</strong> 11-2312-8964<br />
    <strong>LinkedIn:</strong>   <a href="https://www.linkedin.com/in/juan-carlos-blanco-programador-b16010126/">Aqui</a><br />
    <strong>email:</strong>   <a href="juan.gblanco.87@gmail.com">juan.gblanco.87@gmail.com</a><br />
</address>