@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CRUD Practico</h1>
    <p class="lead">Proyecto de prueba para IntegraComex</p>
</div>

<div class="row">
    <div class="col-md-12 text-center">
        <h2>@Html.ActionLink("Cliente", "Index", "clientes")</h2>
        <p>
            Creacion, lectura, actualizacion y eliminacion.
        </p>
    </div>
    
</div>